.profile__edit-button {
    border: 1px solid #FFFFFF;
    background-color: black;
    background-image: url(../../../images/edit-button.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    transition: opacity .2s ease-in-out;
    margin-left: 18px;
    align-self: center;
    box-sizing: border-box;
}

.profile__edit-button:hover{
    cursor: pointer;
    opacity: 0.6;
}

@media (max-width: 700px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 10px;
    }
}