.place__title {
    margin: 23px 0 26px 22px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 700px) {
    .place__title {
        font-size: 24px;
        line-height: 28px;
        margin: 23px 0 25px 22px;
    }
}