.place__title{
    margin: 25px 0 30px 21px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 700px) {
    .place__title {
        font-size: 24px;
        line-height: 29px;
    }
}