.place__like{
    margin: 30px 20px 30px auto;
    background-image: url(../../../images/like_unaktive.svg);
    background-repeat: no-repeat;
    background-color: white;
    background-size: 22px 19px;
    width: 26px;
    height: 19px;
    transition: opacity .2s ease-in-out;
    border: none;
}

.place__like:hover{
    cursor: pointer;
    opacity: 0.6;
}

