.page {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    margin: 0 auto;
    max-width: calc(100% - 200px*2);
}

@media (max-width: 1100px) {
    .page {
        max-width: calc(100% - 100px*2);
    }
}

@media (max-width: 900px) {
    .page {
        max-width: calc(100% - 50px*2);
    }
}

@media (max-width: 720px) {
    .page {
        max-width: calc(100% - 25px*2);
    }
}

@media (max-width: 400px) {
    .page {
        max-width: calc(100% - 10px*2);
    }
}