.places {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px 18px;
    margin: 50px 0 66px 0;
}

@media (max-width: 700px) {
    .places {
        margin: 36px 0 48px 0;
    }
}
