.popup__input {
    width: 358px;
    height: 38px;
    box-sizing: border-box;
    margin: 0 36px 18px 36px;
    border-style: none;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media (max-width: 550px) {
    .popup__input {
        height: 36px;
        width: 238px;
        margin: 0 22px 20px 22px;
    }
}