.popup__container{
    position: absolute;
    top: calc(50% - 115px);
    left: calc(50% - 215px);
    width: 430px;
    height: 330px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}

@media (max-width: 550px) {
    .popup__container {
        width: 282px;
        top: calc(50% - 115px);
        left: calc(50% - 141px);
    }
}