.header__line {
    border-bottom: 1px solid #545454;
    opacity: .7;
    width: 100%;
}

@media (max-width: 400px) {
    .header__line {
        position: absolute;
        left: 0;
        top: 84px;
        width: 100%;
    }
}