.profile__subtitle{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 8px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 900px) {
    .profile__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
}

@media (max-width: 700px) {
    .profile__subtitle {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        margin: 8px 0 0 0;
    }
}