.popup__close{
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0,0);
    background-image: url(../../../images/Close-Icon.svg);
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
    transition: opacity .2s ease-in-out;
}

.popup__close:hover{
    cursor: pointer;
    opacity: 0.6;
}

@media (max-width: 550px) {
    .popup__close {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0px;
    }
}