.popup__save-button{
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    margin: 32px auto 38px auto;
    box-sizing: border-box;
    display: flex;
    transition: opacity .2s ease-in-out;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 0;
}

.popup__save-button:hover{
    cursor: pointer;
    opacity: 0.8;
}

@media (max-width: 550px) {
    .popup__save-button {
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        margin: 24px auto 25px auto;
        height: 46px;
    }
}