.profile__info{
    margin: 10px 10px 0 30px;
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 400px);
    margin-bottom: 10px;
}

@media (max-width: 700px) {
    .profile__info {
        margin: 24px auto 32px auto;
        max-width: 100%;
    }
}