.popup__title{
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 34px 64px 54px 36px;
}

@media (max-width: 550px) {
    .popup__title {
        margin: 25px 22px 75px 22px;
        font-size: 18px;
        line-height: 22px;
    }
}